/* -------Global-------*/

* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* -------Variavel-------*/

:root { 
    --blue: #3ea1db;
    --blue-dark: #574ae8;
    --white: #fff;
    --gray: #e5e5e5;

    --title: #313131;
    --text: #b6b6b6;

    --linear: linear-gradient(90deg, #574ae8 0%, #3ae1db 100%);
}

/* -------Body-------*/

body { 
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow: visible;
    overflow-x: hidden;
}

/* -------Header-------*/

header {
    background: var(--linear);
    width: 100%;
    height: 30vh;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 20%;
    height: 100%;
}

.header_nav {
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    font-weight: 400;
    font-size: 1.2rem;
}

.header_pesquisar {
    box-sizing: border-box;
    min-height: 25%;
    position: relative;
    
    
}

.header_input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-color: var(--blue);
    border-radius: 5px;
    border-style: none;
    
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 1.2rem;
    padding-left: 6%;
}

.header_input::-webkit-input-placeholder {
    color: var(--white);
}
 
.header_input::-moz-placeholder { /* Firefox 18- */
    color: var(--white);  
}
 
.header_input::-moz-placeholder {  /* Firefox 19+ */
    color: var(--white);  
}
 
.header_input:-ms-input-placeholder {  
    color: var(--white);  
}

.header_input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header_pesquisar i{
    position: absolute;
    color: var(--white);
    
    top: 30%;
    left: 2%;
    
}

/* -------Main-------*/

main {
    box-sizing: border-box;
    background-color: var(--gray);
    min-height: calc(100vh - 30vh);
    width: 100%;

    display: flex;
    flex-direction: column;

    font-family: 'Lexend Deca', sans-serif;
    padding-top: 7%;
}
/* -------Noticias-------*/

.noticias {
    margin: 0 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.noticias_container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--white);
    height: 120%;
    padding: 0 3%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.noticias_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2.5%;
}

.noticias_data {
    color: var(--text);
    font-size: 1rem;
}

.noticias_info i {
    color: var(--blue-dark);
}

.noticia {
    margin-bottom: 2%;
}

.noticia_titulo {
    margin-bottom: 1%;
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
    color: var(--title)
}

.noticia_descricao {
    color: var(--text);
    line-height: 1.5rem;
    font-weight: 400;
}

    /* -------Responsividade-------*/
/* -------Responsividade Do Header-------*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .noticias {
        margin: 0 20%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin: 0 10%;
    }

    .header_nav {
        padding-bottom: 5%;
        font-size: 1rem;
    }

    .header_pesquisar i{
        margin: 0.3% 0.3%;
    }

    .header_input {
        padding-left: 6%;
    }
    
}

@media (min-width: 482px) and (max-width: 767px) {
    .header {
        margin: 0 10%;
    }

    .header_nav {
        padding-top: 3%;
        padding-bottom: 8%;
        font-size: 1rem;
    }

    .header_pesquisar i{
        margin: 0.2% 1%;
    }

    .header_input {
        padding-left: 10%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        margin: 0 10%;
    }

    .header_nav {
        padding-top: 5%;
        padding-bottom: 8%;
        font-size: 1rem;
    }

    .header_pesquisar i{
        margin: 0.5% 2%;
    }

    .header_input {
        padding-left: 12%;
    }
}

/* -------Responsividade Do Noticas-------*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .noticias {
        margin: 0 20%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .noticias {
        margin: 0 10%;
    }
    
}

@media (min-width: 482px) and (max-width: 767px) {
    .noticias {
        margin: 0 10%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .noticias {
        margin: 0 10%;
    }

    .noticia_titulo {
        font-size: 1.1rem;
    }
}